<h1>Task Manager</h1>
<form>
  <div>
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" [(ngModel)] = "appModel.title">
    <label for="checked">Checked: </label>
    <input type="checkbox" name="checked" id="checked" [(ngModel)]="appModel.checked">
    <label for="categories">Category: </label>
    <select name="categories" id="categories" [(ngModel)] = "appModel.category">
      <option value="Kaja">Kaja</option>
      <option value="Pia">Pia</option>
      <option value="Minden más">Minden más</option>
    </select>
    <label for="text">Text: </label>
    <input type="text" name="text" id="text" [(ngModel)] = "appModel.text">
  </div>
  <button (click)="showAppModelValue()">Show me what you got!</button>
</form>
